.form-control {
    margin: 1rem 0;
}

.form-control label,
.form-control input {
    display: block;
    width: 100%;
}

.form-control input {
    border: 1px solid #363535;
    font: inherit;
    border-radius: 5px;
    padding: 0.3rem;
}
